doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      title UICod 
      meta(name="title" content="UICod")
      meta(name="description" content="UICod, develops creative premium works. Our vision is to provide the best user experience to our customers.")

      // Open Graph / Facebook
      meta(property="og:type" content="website")
      meta(property="og:url" content="https://uicod.com")
      meta(property="og:title" content="UICod")
      meta(property="og:description" content="UICod, develops creative premium works. Our vision is to provide the best user experience to our customers.")
      meta(property="og:image" content="./img/meta.png")
      // Twitter
      meta(property="twitter:card" content="summary_large_image")
      meta(property="twitter:url" content="https://uicod.com")
      meta(property="twitter:title" content="UICod")
      meta(property="twitter:description" content="UICod, develops creative premium works. Our vision is to provide the best user experience to our customers.")
      meta(property="twitter:image" content="./img/meta.png")
      // favicon
      link(rel='icon' type='image/png' href='./img/favicon.png')
      link(rel='apple-touch-icon' href='./img/apple-touch-icon.png')
      // =========================================================
      // Styles
      // =========================================================
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet")


      // Main Style
      link(rel='stylesheet' href='./css/style.css')

body
   main

      .container
         .logo

         .card
            .card-content
               h1.card-title Welcome!
               p.card-text UICod, develops 
                  strong creative 
                  |premium works. Our vision is to provide the best user experience to our customers.
               .card-bottom
                  p.card-info If you have a project, please feel free to drop us a line at 
                     a(href="mailto:info@uicod.com" class="card-mail"): strong info[at]uicod.com.  
                  .card-social
                     a(href="https://github.com/uicod" target="_blank" title="github"): img(src="./img/github.svg" alt="github")
                     //- a(href="https://linkedin.com/in/" target="_blank" title="linkedin"): img(src="./img/linkedin.svg" alt="linkedin")
                     a(href="https://behance.net/uicod" target="_blank" title="Behance"): img(src="./img/behance.svg" alt="behance")
                     a(href="https://dribbble.com/uicod" target="_blank" title="Dribbble"): img(src="./img/dribbble.svg" alt="dribbble")
                     //- a(href="https://codepen.com/" target="_blank" title="codepen"): img(src="./img/codepen.svg" alt="codepen")
                     a(href="https://twitter.com/uicod_" target="_blank" title="twitter"): img(src="./img/twitter.svg" alt="twitter")

         .card
            .card-content
               h1.card-title Works
               .work
                  .work-item
                     a.work-img(target="_blank" href="https://www.templatemonster.com/tr/admin-templates-79907.html"): img(src="./img/tovvl.webp" alt="tovvl admin dashboard")
                     .work-head
                        a.work-title(target="_blank" href="https://www.templatemonster.com/tr/admin-templates-79907.html")   Tovvl Admin Dashboard
                        .work-buttons
                           a(target="_blank" href="https://www.templatemonster.com/tr/admin-templates-79907.html" class="btn") Purchase 
                           a(target="_blank" href="http://uicod.com/tovvl/landing/" class="btn") Demo 
                  .work-item
                     a.work-img(target="_blank" href="https://www.templatemonster.com/admin-templates/plyenz-responsive-dark-light-admin-template-75743.html"): img(src="./img/plyenz.jpg" alt="plyenz admin")
                     .work-head
                        a.work-title(target="_blank" href="https://www.templatemonster.com/admin-templates/plyenz-responsive-dark-light-admin-template-75743.html")   Plyenz Admin Dashboard
                        .work-buttons
                           a(target="_blank" href="https://www.templatemonster.com/admin-templates/plyenz-responsive-dark-light-admin-template-75743.html" class="btn") Purchase 
                           a(target="_blank" href="https://uicod.com/plyenz/landing/" class="btn") Demo 
                  .work-item
                     a.work-img(target="_blank" href="https://www.templatemonster.com/website-templates/decoratex-html5-furniture-decoration-website-template-84077.html"): img(src="./img/decoratex.webp" alt="decoratex")
                     .work-head
                        a.work-title(target="_blank" href="https://www.templatemonster.com/website-templates/decoratex-html5-furniture-decoration-website-template-84077.html")   DecorateX Furniture &amp; Decoration Website
                        .work-buttons
                           a(target="_blank" href="https://www.templatemonster.com/website-templates/decoratex-html5-furniture-decoration-website-template-84077.html" class="btn") Purchase 
                           a(target="_blank" href="http://uicod.com/decoratex/template/" class="btn") Demo 
